<div class="container">
  <ngx-codemirror
  #editor
  [(ngModel)]="content" 
  [options]="{
    lineNumbers: true,
    theme: 'material',
    mode: 'tgs',
    lineWrapping: true,
    extraKeys: { 
      'Ctrl-Space': 'autocomplete'
    }
  }"
  (cursorActivity)="onCursorActivity($event)"
  (onchange)="onContentUpdate()"
  ></ngx-codemirror>
  <div class="blocks-list">
    <ng-container *ngIf="sequenceModel">
      <div
        *ngFor="let block of sequenceModel.blocks"
        class="block-button"
        (click)="selectBlock(block)"
        [class.selected]="block === currentBlock"
      >
        #{{ block.id }}
      </div>
    </ng-container>
  </div>
  <div class="sequence-preview">
    <div class="actions">
      <div class="action-button" (click)="resetThread()">R</div>
    </div>
    <preview-display *ngIf="sequenceModel && sequenceService.currentThread"></preview-display>
  </div>
</div>

